<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    View your playlists! <br> <br> <br>
   
    <div class="playlists">
    </div>


     Or make a new one! <br> <br> <br>

   <input type="text" name="name"><br>
      <div id="checker">
      <% movies.forEach( function (entry){ %>
        <input type="checkbox" class= "nodes" value= <%=entry.nodeid %> > <%= entry.name %><br>
      <% }); %>
    </div>
      <button type ="button" onclick="new_playlist()">Submit</button>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script type="text/javascript" src="/javascripts/ajax.js"></script>
  </body>
</html>
